

<div class="page-header">
     <h1>Log In</h1>
    </div>
    <%= form_tag sessions_path do %>
     <div class="form-group">
       <%= label_tag :email %>
       <%= email_field_tag :email, params[:email], class: "form-control" %>
     </div>
     <div class="form-group">
       <%= label_tag :password %>
       <%= password_field_tag :password, nil, class: "form-control" %>
     </div>
     <%= submit_tag "Log In", class: "btn btn-primary" %>
   <% end %>
