
<%= form_for @text_post do |f| %>
  <div class = "form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class = "form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-primary" %>
  <%= link_to 'Cancel', :back, class: "btn btn-default" %>
<% end %> 

