

<div class="panel panel-default">
 <div class="panel heading">
  <h3 class="panel-title">
  	<%= text_post.title %>
  </h3>
 </div>

 <div class="panel panel-body">
  <p><em>By <%= text_post.user.name %></em></p>

  <%= text_post.body %>

  <% if text_post.user == current_user %>
   <p>
   <%= link_to 'Edit', edit_text_post_path(text_post), class: "btn btn-default" %>
   </p>

   <% end %>
  
 </div>
</div>