

<div class="panel panel-default">
 <div class="panel heading">
  <h3 class="panel-title">
  	<%= image_post.title %>
  </h3>
 </div>

 <div class="panel panel-body">
  <p><em>By <%= image_post.user.name %></em></p>

  <%= image_tag image_post.url, class: "img-responsive" %>

  <%= image_post.body %>
 </div>
</div>