<!DOCTYPE html>
<html>
<head>
  <title>Social</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

 <div class="container">
 	<body>
     <div class="container">
      <% if notice %>
       <div class="alert alert-success"><%= notice %></div>
      <% end %>
      <% if alert %>
       <div class="alert alert-danger"><%= alert %></div>
      <% end %>

  <div class="pull-right">
   <% if current_user %>
    <%= link_to 'Log Out', logout_path %>
   <% else %>
    <%= link_to 'Log In', login_path %>
    or
    <%= link_to 'Sign Up', signup_path %>
  <% end %>
</div>



<%= yield %>

 </div>

</body>
</html>
